
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Roboto:wght@900&display=swap');


:root{
    --primary-color: #f6f9fc;
    --secondary-color: #00252E;
    --background-waves: #e8ecf1;
}


/*********************************** Resets ********************************/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}


body{
    font-family: 'lato', sans-serif;
    background-color: white;
    line-height: 1.5;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }


/*********************************** Header & Showcase ********************************/

.header-github{
    width: 30px;
    height: 30px;
}

.logo{
    font-weight:br;
}


.meta-logo{
    width: 30px;
    height: 30px;  
}

.name{
    font-weight: 400;
    font-size: 17px;
}


header::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -180px;
    height: 90vh;
    width: 80vw;
    border-bottom-right-radius: 3rem;
    background-color: var(--background-waves);
    z-index: -1;
    transform: rotate(-0.08turn);
}


header{
    padding: 1rem;
}

nav {
    position: absolute;
    top: -100vh;
    background-color: #fff;
    padding: 1.5rem;
    width: 90%;
    margin: auto;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.mobile-menu{
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
}

.mobile-menu span{
    width: 35px;
    height: 2.5px;
    display: block;
    background-color: black;
    border-radius: 2px;
    transition: all .375s ease-in-out;  
}

.mobile-menu span+span{
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    
}

.mobile span:last-child{
    width: 35px;
    transform: rotate(-45deg) translate(2px,-2.5px);
    transition: all .375s ease-in-out;
    margin: 6px 0 0;
}

.mobile span:first-child{
    transform: rotate(45deg) translate(3px,4px);
    transition: all .375s ease-in-out
}


.open {
    top: 6rem;
}

nav ul li:nth-child(4) {
    display: none;
}

nav ul li:last-child {
    border-top: 1px solid hsl(207, 33%, 95%);
    padding-top: 1rem;
}

.nav-item{
    font-size: 18px;  
}

.nav-item:hover{
    opacity: 0.5;
}

.dot{
   
    font-size: 30px;
   
}

.close{
    display: none;
}


/*********************************** Showcase ********************************/


.showcase{
   height: calc(100% - 77px);
   min-height: calc(100% - 77px);
   padding: 0 0.8rem;
   color: #00252E;
}

.showcase-text{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-item{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.hero-item:last-child{
    display: flex;
    align-items: center;
    gap: 8px; 
}

.hero-quote{
    margin-top: 10px;
}

.accent{
    color: #0082FA;
}


.showcase-text::before{
    content: '';
    position: absolute;
    width: 28%;
    height: 3.5px;
    top: -5px;
    left: 0;
    background-color: var(--secondary-color);
}


.laptop-img{
    width: calc(100vw); 
}

.showcase h1 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.cta{
    display: flex;
    align-items: center;
    gap:20px;
}

.cta-services-button{
    display: flex;
    align-items: center;
}

.showcase-button {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.25s ease;
    border-radius: 5px;
}


.live-projects{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 5px 10px; 
    border-radius: 5px;
}



.arrow-img{
    width: 20px;
    height: 20px;
    margin-left: 8px;   
}


/*********************************** About me ********************************/

.about-section{
    /* gap: 50px; */

    /* padding: 100px 0; */
}


.about-image{
    width: 300px;
    /* border-left: 1px solid black; */
    margin: 0 auto;
   
}


.about-text{
    padding: 0 15px;
}



.about-svg{
    width: 80px;
    height: 80px;
    border-left: 1px solid lightgray;
    margin-left: 4px;
    padding-left: 35px;
    padding-top: 50px;
}


.about-title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.about-description{
    position: relative;
    border-left: 1px solid lightgray;
    padding-left: 15px;
    margin-left: 4px;
}


.about-description::after{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    background-color: lightgray;
    width: 100%;
    margin-top: 30px;
}

.circle{
    width: 10px;
    height: 10px;
    background-color: #0082fa;
    border-radius: 50%;
}


.svg{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 2s;
    transform-style: preserve-3d;
}



/*********************************** Tech Stack ********************************/



.tech-stack-area {
    height: 500px;
    background-color: #fff;
}

.tech-stack-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: white;
}

.tech-stack-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 0 20px;
    /* border-right: 1px dashed lightgray;  */
}

.tech-stack {
    position: relative;
    overflow: hidden; 
    width: 60%;
    height: 100%;
}

.tech-stack-header{
    font-weight: 700;
    font-size: 25px;
    color: #203850;    
}

.tech-stack-text p{
    color: #748492;
    margin-top: 10px;
}

.tech-name{
    position: absolute;
    bottom: 0px;
    opacity: 0;
    width: max-content;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    transition: 0.5s; 
    background-color: var(--primary-color);
}

.tech-container {
    position: absolute; 
    bottom: -100px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation: animate 25s linear infinite;
}

.tech-container:hover .tech-name{
    opacity: 1;
    bottom: -30px;
}


.tech {
    width: 80px;
    height: 80px;
}

.tech-container:nth-child(1){
    left: 20%;
    animation-delay: 11s;
}

.tech-container:nth-child(2){
    left: 3%;
    animation-delay: 14s;
}
.tech-container:nth-child(3){
    left: 30%;
    animation-delay: 16s;
}
.tech-container:nth-child(4){
    left: 30%;
    animation-delay: 6s;
}
.tech-container:nth-child(5){
    left: 55%;
    animation-delay: 5s;
}
.tech-container:nth-child(6){
    left: 75%;
    animation-delay: 0.8s;
}
.tech-container:nth-child(7){
    left: 85%;
    animation-delay: 7s;
}
.tech-container:nth-child(8){
    left: 60%;
    animation-delay: 18s;
}
.tech-container:nth-child(9){
    left: 10%;
    animation-delay: 22s;
}

.tech-container:nth-child(10){
    left: 55%;
    animation-delay: 11s;
}

.tech-container:nth-child(11){
    left: 82%;
    animation-delay: 16s;
}

.tech-container:nth-child(12){
    left: 25%;
    animation-delay: 2s;
}

.tech-icon{
    max-width: 100%;
}



@keyframes animate {
    0% {   
        transform: translateY(0);
    }

    100% {  
        transform: translateY(-650px);
    }
}




/*********************************** Footer ********************************/



.footer {
    background-color: #00252E;
    color:#f6f9fc;
    padding: 40px 0px;
}
