
.container {
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    border-left: 1px solid rgb(229, 225, 225);
    border-right: 1px solid rgb(229, 225, 225);
  
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 100%;
}

.flex-columns-row-reverse{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 100%;
   
   
}

.flex-center{
    display: flex;
    align-items: center;
    height: 100%;

}







.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    place-items: center;
    height: 100%;

}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}